@tailwind base;
@tailwind components;
@tailwind utilities;

.admin-input{
  @apply
  w-full
  h-12
  px-4
  rounded-2xl
  bg-[#0B1220]
  border border-white/10
  focus:outline-none
  focus:border-blue-500/40
  text-sm;
}
@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}
.animate-marquee { animation: marquee 35s linear infinite; }
.animate-marquee:hover { animation-play-state: paused; }